In [1]:
myRange = spark.range(1000).toDF("number")

In [2]:
type(myRange)

pyspark.sql.dataframe.DataFrame

In [5]:
myRange.head(5)

[Row(number=0), Row(number=1), Row(number=2), Row(number=3), Row(number=4)]

In [6]:
myRange

DataFrame[number: bigint]

In [7]:
divisBy2 = myRange.where("number % 2 = 0")

In [8]:
divisBy2.count()

500

In [10]:
flightData2015 = spark\
  .read\
  .option("inferSchema", "true")\
  .option("header", "true")\
  .csv("../data/flight-data/csv/2015-summary.csv")

In [11]:
flightData2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]

In [12]:
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#26 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#26 ASC NULLS FIRST, 200)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#24,ORIGIN_COUNTRY_NAME#25,count#26] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/septe/PycharmProjects/Spark-The-Definitive-Guide/data/flight-dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [13]:
spark.conf.set("spark.sql.shuffle.partitions", "5")

In [14]:
flightData2015.sort("count").take(2)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

DataFrames and SQL

In [15]:
flightData2015.createOrReplaceTempView("flight_data_2015")

In [16]:
sqlWay = spark.sql("""
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
""")

In [17]:
dataFrameWay = flightData2015 \
  .groupby("DEST_COUNTRY_NAME") \
  .count()

In [18]:
sqlWay.explain()
dataFrameWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#24], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#24, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#24], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#24] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/septe/PycharmProjects/Spark-The-Definitive-Guide/data/flight-dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>
== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#24], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#24, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#24], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#24] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/septe/PycharmProjects/Spark-The-Definitive-Guide/data/flight-dat..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [20]:
spark.sql("SELECT max(count) from flight_data_2015").take(1)

[Row(max(count)=370002)]

In [21]:
from pyspark.sql.functions import max
flightData2015.select(max("count")).take(1)

[Row(max(count)=370002)]

In [22]:
maxSql = spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
""")

maxSql.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [26]:
from pyspark.sql.functions import desc

maxDataFrame = flightData2015 \
  .groupby("DEST_COUNTRY_NAME") \
  .sum("count") \
  .withColumnRenamed("sum(count)", "destination_total") \
  .sort(desc("destination_total")) \
  .limit(5) \
  .show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+