In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = (SparkSession.builder.appName('spark introduction').master('local[*]').getOrCreate())

25/02/26 15:24:42 WARN Utils: Your hostname, codespaces-7aea8b resolves to a loopback address: 127.0.0.1; using 10.0.11.44 instead (on interface eth0)
25/02/26 15:24:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/26 15:24:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
from pyspark.sql.types import _parse_datatype_string # this is the module used to parse datatypes written in strings and generate spark schema
from datetime import date
schema_string = 'id int,name string,department string,age int,gender string,salary integer,hire_date date'
emp_schema = _parse_datatype_string(schema_string)
# Sample Employee Data (40 rows)
employee_data = [
    (1, "Alice Johnson", "HR", 29, "F", 60000, date(2018, 5, 23)),
    (2, "Bob Smith", "Engineering", 35, "M", 80000, date(2016, 7, 19)),
    (3, "Charlie Brown", "Finance", 41, "M", 75000, date(2015, 6, 10)),
    (4, "David Wilson", "Marketing", 30, "M", 72000, date(2019, 3, 5)),
    (5, "Emma Davis", "Sales", 27, "F", 68000, date(2021, 8, 11)),
    (6, "Frank Thomas", "HR", 32, "M", 61000, date(2017, 4, 28)),
    (7, "Grace White", "Engineering", 38, "F", 82000, date(2014, 9, 15)),
    (8, "Hank Green", "Finance", 45, "M", 76000, date(2012, 10, 3)),
    (9, "Ivy Adams", "Marketing", 28, "F", 73000, date(2020, 1, 22)),
    (10, "Jack Carter", "Sales", 33, "M", 69000, date(2016, 12, 14)),
    (11, "Kevin Scott", "HR", 31, "M", 62000, date(2017, 2, 9)),
    (12, "Liam Lewis", "Engineering", 40, "M", 83000, date(2013, 7, 20)),
    (13, "Mia Martinez", "Finance", 39, "F", 77000, date(2014, 8, 30)),
    (14, "Nathan Walker", "Marketing", 29, "M", 74000, date(2019, 5, 12)),
    (15, "Olivia Hall", "Sales", 26, "F", 70000, date(2022, 3, 8)),
    (16, "Paul Young", "HR", 37, "M", 63000, date(2015, 6, 17)),
    (17, "Quincy King", "Engineering", 34, "M", 84000, date(2016, 10, 5)),
    (18, "Rachel Turner", "Finance", 42, "F", 78000, date(2012, 11, 23)),
    (19, "Samuel Parker", "Marketing", 30, "M", 75000, date(2018, 2, 19)),
    (20, "Tina Evans", "Sales", 28, "F", 71000, date(2020, 6, 3)),
    (21, "Umar Brown", "HR", 36, "M", 64000, date(2014, 9, 25)),
    (22, "Victor Reed", "Engineering", 33, "M", 85000, date(2017, 1, 14)),
    (23, "Wendy Baker", "Finance", 40, "F", 79000, date(2013, 12, 9)),
    (24, "Xander Scott", "Marketing", 31, "M", 76000, date(2019, 4, 28)),
    (25, "Yasmine Hughes", "Sales", 27, "F", 72000, date(2021, 5, 21)),
    (26, "Zack Foster", "HR", 39, "M", 65000, date(2013, 3, 14)),
    (27, "Ava Cooper", "Engineering", 32, "F", 86000, date(2018, 9, 16)),
    (28, "Ben Garcia", "Finance", 37, "M", 80000, date(2015, 10, 7)),
    (29, "Catherine Lopez", "Marketing", 28, "F", 77000, date(2020, 2, 11)),
    (30, "Daniel Mitchell", "Sales", 35, "M", 73000, date(2017, 11, 30)),
    (31, "Eliza Robinson", "HR", 31, "F", 66000, date(2018, 7, 18)),
    (32, "Felix Turner", "Engineering", 45, "M", 87000, date(2012, 6, 4)),
    (33, "Gabriella Adams", "Finance", 29, "F", 81000, date(2019, 8, 20)),
    (34, "Henry White", "Marketing", 41, "M", 78000, date(2014, 5, 14)),
    (35, "Isla Collins", "Sales", 30, "F", 74000, date(2020, 4, 9)),
    (36, "Jacob Rivera", "HR", 38, "M", 67000, date(2016, 1, 23)),
    (37, "Katie Bell", "Engineering", 33, "F", 88000, date(2018, 10, 6)),
    (38, "Leo Scott", "Finance", 42, "M", 82000, date(2013, 9, 12)),
    (39, "Megan Foster", "Marketing", 31, "F", 79000, date(2019, 11, 27)),
    (40, "Noah Carter", "Sales", 28, "M", 75000, date(2021, 12, 1))
]

In [6]:
df = spark.createDataFrame(data=employee_data,schema=emp_schema)

In [7]:
df.rdd.getNumPartitions()

2

In [8]:
df.show()

+---+-------------+-----------+---+------+------+----------+
| id|         name| department|age|gender|salary| hire_date|
+---+-------------+-----------+---+------+------+----------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|
+---+-------------+-----------+---+------+------+----------+
only showing top 20 rows

In [9]:
#printSchema
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: date (nullable = true)

In [10]:
#casting columns
#select id,name,age,cast(salary as double) as salary from df
#emp_casted = df.selectExpr('id','name','age','cast(salary as double) as salary')
#another way of casting
from pyspark.sql.functions import col,cast
emp_casted_1 = df.select('id','name','age',col('salary').cast('double'))

In [11]:
emp_casted_1.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: double (nullable = true)

In [12]:
#adding columns
#select id,name,age,salary,(salary*0.2) as tax from emp
emp_taxed = emp_casted_1.withColumn('tax',col('salary')*0.2)

In [13]:
emp_taxed.show()

+---+-------------+---+-------+-------+
| id|         name|age| salary|    tax|
+---+-------------+---+-------+-------+
|  1|Alice Johnson| 29|60000.0|12000.0|
|  2|    Bob Smith| 35|80000.0|16000.0|
|  3|Charlie Brown| 41|75000.0|15000.0|
|  4| David Wilson| 30|72000.0|14400.0|
|  5|   Emma Davis| 27|68000.0|13600.0|
|  6| Frank Thomas| 32|61000.0|12200.0|
|  7|  Grace White| 38|82000.0|16400.0|
|  8|   Hank Green| 45|76000.0|15200.0|
|  9|    Ivy Adams| 28|73000.0|14600.0|
| 10|  Jack Carter| 33|69000.0|13800.0|
| 11|  Kevin Scott| 31|62000.0|12400.0|
| 12|   Liam Lewis| 40|83000.0|16600.0|
| 13| Mia Martinez| 39|77000.0|15400.0|
| 14|Nathan Walker| 29|74000.0|14800.0|
| 15|  Olivia Hall| 26|70000.0|14000.0|
| 16|   Paul Young| 37|63000.0|12600.0|
| 17|  Quincy King| 34|84000.0|16800.0|
| 18|Rachel Turner| 42|78000.0|15600.0|
| 19|Samuel Parker| 30|75000.0|15000.0|
| 20|   Tina Evans| 28|71000.0|14200.0|
+---+-------------+---+-------+-------+
only showing top 20 rows

In [14]:
#adding static values as column values to dataset
#literals
#select id,name,age,salary,tax,1 as columnone,'two' as columntwo from emp_tax
from pyspark.sql.functions import lit
emp_new_cols = emp_taxed.withColumn('coumnone',lit(1)).withColumn('columntwo',lit('two'))

In [15]:
emp_new_cols.show()

+---+-------------+---+-------+-------+--------+---------+
| id|         name|age| salary|    tax|coumnone|columntwo|
+---+-------------+---+-------+-------+--------+---------+
|  1|Alice Johnson| 29|60000.0|12000.0|       1|      two|
|  2|    Bob Smith| 35|80000.0|16000.0|       1|      two|
|  3|Charlie Brown| 41|75000.0|15000.0|       1|      two|
|  4| David Wilson| 30|72000.0|14400.0|       1|      two|
|  5|   Emma Davis| 27|68000.0|13600.0|       1|      two|
|  6| Frank Thomas| 32|61000.0|12200.0|       1|      two|
|  7|  Grace White| 38|82000.0|16400.0|       1|      two|
|  8|   Hank Green| 45|76000.0|15200.0|       1|      two|
|  9|    Ivy Adams| 28|73000.0|14600.0|       1|      two|
| 10|  Jack Carter| 33|69000.0|13800.0|       1|      two|
| 11|  Kevin Scott| 31|62000.0|12400.0|       1|      two|
| 12|   Liam Lewis| 40|83000.0|16600.0|       1|      two|
| 13| Mia Martinez| 39|77000.0|15400.0|       1|      two|
| 14|Nathan Walker| 29|74000.0|14800.0|       1|      two|
| 15|  Olivia Hall| 26|70000.0|14000.0|       1|      two|
| 16|   Paul Young| 37|63000.0|12600.0|       1|      two|
| 17|  Quincy King| 34|84000.0|16800.0|       1|      two|
| 18|Rachel Turner| 42|78000.0|15600.0|       1|      two|
| 19|Samuel Parker| 30|75000.0|15000.0|       1|      two|
| 20|   Tina Evans| 28|71000.0|14200.0|       1|      two|
+---+-------------+---+-------+-------+--------+---------+
only showing top 20 rows

In [16]:
#renaming columns
#select id as emp_id,age,name,salary,tax,columnone,columntwo from emp_new_cols
emp_renmaed = emp_new_cols.withColumnRenamed('id','emp_id')

In [17]:
emp_renmaed.show()

+------+-------------+---+-------+-------+--------+---------+
|emp_id|         name|age| salary|    tax|coumnone|columntwo|
+------+-------------+---+-------+-------+--------+---------+
|     1|Alice Johnson| 29|60000.0|12000.0|       1|      two|
|     2|    Bob Smith| 35|80000.0|16000.0|       1|      two|
|     3|Charlie Brown| 41|75000.0|15000.0|       1|      two|
|     4| David Wilson| 30|72000.0|14400.0|       1|      two|
|     5|   Emma Davis| 27|68000.0|13600.0|       1|      two|
|     6| Frank Thomas| 32|61000.0|12200.0|       1|      two|
|     7|  Grace White| 38|82000.0|16400.0|       1|      two|
|     8|   Hank Green| 45|76000.0|15200.0|       1|      two|
|     9|    Ivy Adams| 28|73000.0|14600.0|       1|      two|
|    10|  Jack Carter| 33|69000.0|13800.0|       1|      two|
|    11|  Kevin Scott| 31|62000.0|12400.0|       1|      two|
|    12|   Liam Lewis| 40|83000.0|16600.0|       1|      two|
|    13| Mia Martinez| 39|77000.0|15400.0|       1|      two|
|    14|Nathan Walker| 29|74000.0|14800.0|       1|      two|
|    15|  Olivia Hall| 26|70000.0|14000.0|       1|      two|
|    16|   Paul Young| 37|63000.0|12600.0|       1|      two|
|    17|  Quincy King| 34|84000.0|16800.0|       1|      two|
|    18|Rachel Turner| 42|78000.0|15600.0|       1|      two|
|    19|Samuel Parker| 30|75000.0|15000.0|       1|      two|
|    20|   Tina Evans| 28|71000.0|14200.0|       1|      two|
+------+-------------+---+-------+-------+--------+---------+
only showing top 20 rows

In [18]:
#remove columns
emp_dropped = emp_renmaed.drop('columntwo')

In [19]:
emp_dropped.show()

+------+-------------+---+-------+-------+--------+
|emp_id|         name|age| salary|    tax|coumnone|
+------+-------------+---+-------+-------+--------+
|     1|Alice Johnson| 29|60000.0|12000.0|       1|
|     2|    Bob Smith| 35|80000.0|16000.0|       1|
|     3|Charlie Brown| 41|75000.0|15000.0|       1|
|     4| David Wilson| 30|72000.0|14400.0|       1|
|     5|   Emma Davis| 27|68000.0|13600.0|       1|
|     6| Frank Thomas| 32|61000.0|12200.0|       1|
|     7|  Grace White| 38|82000.0|16400.0|       1|
|     8|   Hank Green| 45|76000.0|15200.0|       1|
|     9|    Ivy Adams| 28|73000.0|14600.0|       1|
|    10|  Jack Carter| 33|69000.0|13800.0|       1|
|    11|  Kevin Scott| 31|62000.0|12400.0|       1|
|    12|   Liam Lewis| 40|83000.0|16600.0|       1|
|    13| Mia Martinez| 39|77000.0|15400.0|       1|
|    14|Nathan Walker| 29|74000.0|14800.0|       1|
|    15|  Olivia Hall| 26|70000.0|14000.0|       1|
|    16|   Paul Young| 37|63000.0|12600.0|       1|
|    17|  Quincy King| 34|84000.0|16800.0|       1|
|    18|Rachel Turner| 42|78000.0|15600.0|       1|
|    19|Samuel Parker| 30|75000.0|15000.0|       1|
|    20|   Tina Evans| 28|71000.0|14200.0|       1|
+------+-------------+---+-------+-------+--------+
only showing top 20 rows

In [20]:
#filter data
emp_filtered = emp_dropped.where('tax > 10000')

In [21]:
emp_filtered.show()

+------+-------------+---+-------+-------+--------+
|emp_id|         name|age| salary|    tax|coumnone|
+------+-------------+---+-------+-------+--------+
|     1|Alice Johnson| 29|60000.0|12000.0|       1|
|     2|    Bob Smith| 35|80000.0|16000.0|       1|
|     3|Charlie Brown| 41|75000.0|15000.0|       1|
|     4| David Wilson| 30|72000.0|14400.0|       1|
|     5|   Emma Davis| 27|68000.0|13600.0|       1|
|     6| Frank Thomas| 32|61000.0|12200.0|       1|
|     7|  Grace White| 38|82000.0|16400.0|       1|
|     8|   Hank Green| 45|76000.0|15200.0|       1|
|     9|    Ivy Adams| 28|73000.0|14600.0|       1|
|    10|  Jack Carter| 33|69000.0|13800.0|       1|
|    11|  Kevin Scott| 31|62000.0|12400.0|       1|
|    12|   Liam Lewis| 40|83000.0|16600.0|       1|
|    13| Mia Martinez| 39|77000.0|15400.0|       1|
|    14|Nathan Walker| 29|74000.0|14800.0|       1|
|    15|  Olivia Hall| 26|70000.0|14000.0|       1|
|    16|   Paul Young| 37|63000.0|12600.0|       1|
|    17|  Quincy King| 34|84000.0|16800.0|       1|
|    18|Rachel Turner| 42|78000.0|15600.0|       1|
|    19|Samuel Parker| 30|75000.0|15000.0|       1|
|    20|   Tina Evans| 28|71000.0|14200.0|       1|
+------+-------------+---+-------+-------+--------+
only showing top 20 rows

In [22]:
#limit
emp_limit = emp_filtered.limit(5)

In [23]:
emp_limit.show()

+------+-------------+---+-------+-------+--------+
|emp_id|         name|age| salary|    tax|coumnone|
+------+-------------+---+-------+-------+--------+
|     1|Alice Johnson| 29|60000.0|12000.0|       1|
|     2|    Bob Smith| 35|80000.0|16000.0|       1|
|     3|Charlie Brown| 41|75000.0|15000.0|       1|
|     4| David Wilson| 30|72000.0|14400.0|       1|
|     5|   Emma Davis| 27|68000.0|13600.0|       1|
+------+-------------+---+-------+-------+--------+

In [24]:
#case when
#select emp_id,name,age,salary,department,gender,
#case when gender = 'male then 'M' when gender = 'Female' then 'F' else null end as new_gender,hire_date from emp
from pyspark.sql.functions import when
emp_fixed_gender = df.withColumn('new_gender',when(col('gender')=='M','Male').
                                 when(col('gender')=='F','Female')
                                 .otherwise(None))

In [25]:
emp_fixed_gender.show()

+---+-------------+-----------+---+------+------+----------+----------+
| id|         name| department|age|gender|salary| hire_date|new_gender|
+---+-------------+-----------+---+------+------+----------+----------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|    Female|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|      Male|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|      Male|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|      Male|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|    Female|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|      Male|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|    Female|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|      Male|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|    Female|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|      Male|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|      Male|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|      Male|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|    Female|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|      Male|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|    Female|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|      Male|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|      Male|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|    Female|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|      Male|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|    Female|
+---+-------------+-----------+---+------+------+----------+----------+
only showing top 20 rows

In [26]:
#replace in strings
#select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace
emp_name_fixed = emp_fixed_gender.withColumn('new_name',regexp_replace(col('name'),'J','Z'))

In [27]:
emp_name_fixed.show()

+---+-------------+-----------+---+------+------+----------+----------+-------------+
| id|         name| department|age|gender|salary| hire_date|new_gender|     new_name|
+---+-------------+-----------+---+------+------+----------+----------+-------------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|    Female|Alice Zohnson|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|      Male|    Bob Smith|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|      Male|Charlie Brown|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|      Male| David Wilson|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|    Female|   Emma Davis|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|      Male| Frank Thomas|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|    Female|  Grace White|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|      Male|   Hank Green|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|    Female|    Ivy Adams|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|      Male|  Zack Carter|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|      Male|  Kevin Scott|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|      Male|   Liam Lewis|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|    Female| Mia Martinez|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|      Male|Nathan Walker|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|    Female|  Olivia Hall|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|      Male|   Paul Young|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|      Male|  Quincy King|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|    Female|Rachel Turner|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|      Male|Samuel Parker|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|    Female|   Tina Evans|
+---+-------------+-----------+---+------+------+----------+----------+-------------+
only showing top 20 rows

In [29]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed
from pyspark.sql.functions import to_date
emp_date_fix = emp_name_fixed.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-dd'))

In [30]:
emp_date_fix.show()

+---+-------------+-----------+---+------+------+----------+----------+-------------+
| id|         name| department|age|gender|salary| hire_date|new_gender|     new_name|
+---+-------------+-----------+---+------+------+----------+----------+-------------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|    Female|Alice Zohnson|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|      Male|    Bob Smith|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|      Male|Charlie Brown|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|      Male| David Wilson|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|    Female|   Emma Davis|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|      Male| Frank Thomas|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|    Female|  Grace White|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|      Male|   Hank Green|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|    Female|    Ivy Adams|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|      Male|  Zack Carter|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|      Male|  Kevin Scott|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|      Male|   Liam Lewis|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|    Female| Mia Martinez|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|      Male|Nathan Walker|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|    Female|  Olivia Hall|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|      Male|   Paul Young|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|      Male|  Quincy King|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|    Female|Rachel Turner|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|      Male|Samuel Parker|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|    Female|   Tina Evans|
+---+-------------+-----------+---+------+------+----------+----------+-------------+
only showing top 20 rows

In [31]:
emp_date_fix.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [33]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date
from pyspark.sql.functions import current_date, current_timestamp
columns = {"date_now":current_date(),
           "timestamp_now":current_timestamp()}

emp_dated = emp_date_fix.withColumns(columns)

In [35]:
emp_dated.show(truncate=False)

+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------------+
|id |name         |department |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now             |
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------------+
|1  |Alice Johnson|HR         |29 |F     |60000 |2018-05-23|Female    |Alice Zohnson|2025-02-26|2025-02-26 15:49:28.539124|
|2  |Bob Smith    |Engineering|35 |M     |80000 |2016-07-19|Male      |Bob Smith    |2025-02-26|2025-02-26 15:49:28.539124|
|3  |Charlie Brown|Finance    |41 |M     |75000 |2015-06-10|Male      |Charlie Brown|2025-02-26|2025-02-26 15:49:28.539124|
|4  |David Wilson |Marketing  |30 |M     |72000 |2019-03-05|Male      |David Wilson |2025-02-26|2025-02-26 15:49:28.539124|
|5  |Emma Davis   |Sales      |27 |F     |68000 |2021-08-11|Female    |Emma Davis   |2025-02-26|2025-02-26 15:49:28.539124|
|6  |Frank Thomas |HR         |32 |M     |61000 |2017-04-28|Male      |Frank Thomas |2025-02-26|2025-02-26 15:49:28.539124|
|7  |Grace White  |Engineering|38 |F     |82000 |2014-09-15|Female    |Grace White  |2025-02-26|2025-02-26 15:49:28.539124|
|8  |Hank Green   |Finance    |45 |M     |76000 |2012-10-03|Male      |Hank Green   |2025-02-26|2025-02-26 15:49:28.539124|
|9  |Ivy Adams    |Marketing  |28 |F     |73000 |2020-01-22|Female    |Ivy Adams    |2025-02-26|2025-02-26 15:49:28.539124|
|10 |Jack Carter  |Sales      |33 |M     |69000 |2016-12-14|Male      |Zack Carter  |2025-02-26|2025-02-26 15:49:28.539124|
|11 |Kevin Scott  |HR         |31 |M     |62000 |2017-02-09|Male      |Kevin Scott  |2025-02-26|2025-02-26 15:49:28.539124|
|12 |Liam Lewis   |Engineering|40 |M     |83000 |2013-07-20|Male      |Liam Lewis   |2025-02-26|2025-02-26 15:49:28.539124|
|13 |Mia Martinez |Finance    |39 |F     |77000 |2014-08-30|Female    |Mia Martinez |2025-02-26|2025-02-26 15:49:28.539124|
|14 |Nathan Walker|Marketing  |29 |M     |74000 |2019-05-12|Male      |Nathan Walker|2025-02-26|2025-02-26 15:49:28.539124|
|15 |Olivia Hall  |Sales      |26 |F     |70000 |2022-03-08|Female    |Olivia Hall  |2025-02-26|2025-02-26 15:49:28.539124|
|16 |Paul Young   |HR         |37 |M     |63000 |2015-06-17|Male      |Paul Young   |2025-02-26|2025-02-26 15:49:28.539124|
|17 |Quincy King  |Engineering|34 |M     |84000 |2016-10-05|Male      |Quincy King  |2025-02-26|2025-02-26 15:49:28.539124|
|18 |Rachel Turner|Finance    |42 |F     |78000 |2012-11-23|Female    |Rachel Turner|2025-02-26|2025-02-26 15:49:28.539124|
|19 |Samuel Parker|Marketing  |30 |M     |75000 |2018-02-19|Male      |Samuel Parker|2025-02-26|2025-02-26 15:49:28.539124|
|20 |Tina Evans   |Sales      |28 |F     |71000 |2020-06-03|Female    |Tina Evans   |2025-02-26|2025-02-26 15:49:28.539124|
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------------+
only showing top 20 rows

In [37]:
# Drop Null gender records
emp_1 = emp_dated.na.drop()
emp_1.show()

+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
| id|         name| department|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|    Female|Alice Zohnson|2025-02-26|2025-02-26 15:52:...|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|      Male|    Bob Smith|2025-02-26|2025-02-26 15:52:...|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|      Male|Charlie Brown|2025-02-26|2025-02-26 15:52:...|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|      Male| David Wilson|2025-02-26|2025-02-26 15:52:...|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|    Female|   Emma Davis|2025-02-26|2025-02-26 15:52:...|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|      Male| Frank Thomas|2025-02-26|2025-02-26 15:52:...|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|    Female|  Grace White|2025-02-26|2025-02-26 15:52:...|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|      Male|   Hank Green|2025-02-26|2025-02-26 15:52:...|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|    Female|    Ivy Adams|2025-02-26|2025-02-26 15:52:...|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|      Male|  Zack Carter|2025-02-26|2025-02-26 15:52:...|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|      Male|  Kevin Scott|2025-02-26|2025-02-26 15:52:...|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|      Male|   Liam Lewis|2025-02-26|2025-02-26 15:52:...|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|    Female| Mia Martinez|2025-02-26|2025-02-26 15:52:...|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|      Male|Nathan Walker|2025-02-26|2025-02-26 15:52:...|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|    Female|  Olivia Hall|2025-02-26|2025-02-26 15:52:...|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|      Male|   Paul Young|2025-02-26|2025-02-26 15:52:...|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|      Male|  Quincy King|2025-02-26|2025-02-26 15:52:...|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|    Female|Rachel Turner|2025-02-26|2025-02-26 15:52:...|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|      Male|Samuel Parker|2025-02-26|2025-02-26 15:52:...|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|    Female|   Tina Evans|2025-02-26|2025-02-26 15:52:...|
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
only showing top 20 rows

In [39]:
# Fix Null values
# select *, nvl('new_gender', 'O') as new_gender from emp_dated
from pyspark.sql.functions import coalesce, lit

emp_null_df = emp_dated.withColumn("new_gender", coalesce(col("new_gender"), lit("O")))
emp_null_df.show()

+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
| id|         name| department|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
|  1|Alice Johnson|         HR| 29|     F| 60000|2018-05-23|    Female|Alice Zohnson|2025-02-26|2025-02-26 15:53:...|
|  2|    Bob Smith|Engineering| 35|     M| 80000|2016-07-19|      Male|    Bob Smith|2025-02-26|2025-02-26 15:53:...|
|  3|Charlie Brown|    Finance| 41|     M| 75000|2015-06-10|      Male|Charlie Brown|2025-02-26|2025-02-26 15:53:...|
|  4| David Wilson|  Marketing| 30|     M| 72000|2019-03-05|      Male| David Wilson|2025-02-26|2025-02-26 15:53:...|
|  5|   Emma Davis|      Sales| 27|     F| 68000|2021-08-11|    Female|   Emma Davis|2025-02-26|2025-02-26 15:53:...|
|  6| Frank Thomas|         HR| 32|     M| 61000|2017-04-28|      Male| Frank Thomas|2025-02-26|2025-02-26 15:53:...|
|  7|  Grace White|Engineering| 38|     F| 82000|2014-09-15|    Female|  Grace White|2025-02-26|2025-02-26 15:53:...|
|  8|   Hank Green|    Finance| 45|     M| 76000|2012-10-03|      Male|   Hank Green|2025-02-26|2025-02-26 15:53:...|
|  9|    Ivy Adams|  Marketing| 28|     F| 73000|2020-01-22|    Female|    Ivy Adams|2025-02-26|2025-02-26 15:53:...|
| 10|  Jack Carter|      Sales| 33|     M| 69000|2016-12-14|      Male|  Zack Carter|2025-02-26|2025-02-26 15:53:...|
| 11|  Kevin Scott|         HR| 31|     M| 62000|2017-02-09|      Male|  Kevin Scott|2025-02-26|2025-02-26 15:53:...|
| 12|   Liam Lewis|Engineering| 40|     M| 83000|2013-07-20|      Male|   Liam Lewis|2025-02-26|2025-02-26 15:53:...|
| 13| Mia Martinez|    Finance| 39|     F| 77000|2014-08-30|    Female| Mia Martinez|2025-02-26|2025-02-26 15:53:...|
| 14|Nathan Walker|  Marketing| 29|     M| 74000|2019-05-12|      Male|Nathan Walker|2025-02-26|2025-02-26 15:53:...|
| 15|  Olivia Hall|      Sales| 26|     F| 70000|2022-03-08|    Female|  Olivia Hall|2025-02-26|2025-02-26 15:53:...|
| 16|   Paul Young|         HR| 37|     M| 63000|2015-06-17|      Male|   Paul Young|2025-02-26|2025-02-26 15:53:...|
| 17|  Quincy King|Engineering| 34|     M| 84000|2016-10-05|      Male|  Quincy King|2025-02-26|2025-02-26 15:53:...|
| 18|Rachel Turner|    Finance| 42|     F| 78000|2012-11-23|    Female|Rachel Turner|2025-02-26|2025-02-26 15:53:...|
| 19|Samuel Parker|  Marketing| 30|     M| 75000|2018-02-19|      Male|Samuel Parker|2025-02-26|2025-02-26 15:53:...|
| 20|   Tina Evans|      Sales| 28|     F| 71000|2020-06-03|    Female|   Tina Evans|2025-02-26|2025-02-26 15:53:...|
+---+-------------+-----------+---+------+------+----------+----------+-------------+----------+--------------------+
only showing top 20 rows

In [40]:
# Drop old columns and Fix new column names
emp_final = emp_null_df.drop("name", "gender").withColumnRenamed("new_name", "name").withColumnRenamed("new_gender", "gender")

In [41]:
emp_final.show()

+---+-----------+---+------+----------+------+-------------+----------+--------------------+
| id| department|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|
+---+-----------+---+------+----------+------+-------------+----------+--------------------+
|  1|         HR| 29| 60000|2018-05-23|Female|Alice Zohnson|2025-02-26|2025-02-26 15:55:...|
|  2|Engineering| 35| 80000|2016-07-19|  Male|    Bob Smith|2025-02-26|2025-02-26 15:55:...|
|  3|    Finance| 41| 75000|2015-06-10|  Male|Charlie Brown|2025-02-26|2025-02-26 15:55:...|
|  4|  Marketing| 30| 72000|2019-03-05|  Male| David Wilson|2025-02-26|2025-02-26 15:55:...|
|  5|      Sales| 27| 68000|2021-08-11|Female|   Emma Davis|2025-02-26|2025-02-26 15:55:...|
|  6|         HR| 32| 61000|2017-04-28|  Male| Frank Thomas|2025-02-26|2025-02-26 15:55:...|
|  7|Engineering| 38| 82000|2014-09-15|Female|  Grace White|2025-02-26|2025-02-26 15:55:...|
|  8|    Finance| 45| 76000|2012-10-03|  Male|   Hank Green|2025-02-26|2025-02-26 15:55:...|
|  9|  Marketing| 28| 73000|2020-01-22|Female|    Ivy Adams|2025-02-26|2025-02-26 15:55:...|
| 10|      Sales| 33| 69000|2016-12-14|  Male|  Zack Carter|2025-02-26|2025-02-26 15:55:...|
| 11|         HR| 31| 62000|2017-02-09|  Male|  Kevin Scott|2025-02-26|2025-02-26 15:55:...|
| 12|Engineering| 40| 83000|2013-07-20|  Male|   Liam Lewis|2025-02-26|2025-02-26 15:55:...|
| 13|    Finance| 39| 77000|2014-08-30|Female| Mia Martinez|2025-02-26|2025-02-26 15:55:...|
| 14|  Marketing| 29| 74000|2019-05-12|  Male|Nathan Walker|2025-02-26|2025-02-26 15:55:...|
| 15|      Sales| 26| 70000|2022-03-08|Female|  Olivia Hall|2025-02-26|2025-02-26 15:55:...|
| 16|         HR| 37| 63000|2015-06-17|  Male|   Paul Young|2025-02-26|2025-02-26 15:55:...|
| 17|Engineering| 34| 84000|2016-10-05|  Male|  Quincy King|2025-02-26|2025-02-26 15:55:...|
| 18|    Finance| 42| 78000|2012-11-23|Female|Rachel Turner|2025-02-26|2025-02-26 15:55:...|
| 19|  Marketing| 30| 75000|2018-02-19|  Male|Samuel Parker|2025-02-26|2025-02-26 15:55:...|
| 20|      Sales| 28| 71000|2020-06-03|Female|   Tina Evans|2025-02-26|2025-02-26 15:55:...|
+---+-----------+---+------+----------+------+-------------+----------+--------------------+
only showing top 20 rows

In [42]:
emp_final.write.format('csv').save('retail-data/finalfixedemployee.csv')